<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="keywords" content="{{ keywords }}">

    <meta name="application-name" content="{{ application_name }}">
    <meta name="theme-color" content="{{ theme_color }}">
    <meta name="description" content="{{ description }}">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">
    <meta name="google" content="nositelinkssearchbox">
    <meta name="google" content="notranslate">

    <meta name="google-site-verification" content="{{ google_verification_token }}">
    <meta name="yandex-verification" content="{{ yandex_verification_token }}">
    <meta name="msvalidate.01" content="{{ bing_verification_token }}">
    <meta name="alexaVerifyID" content="{{ alexa_verification_token }}">
    <meta name="p:domain_verify" content="{{ code_from_pinterest }}">
    <meta name="norton-safeweb-site-verification" content="{{ norton_code }}">

    <meta property="fb:app_id" content="{{ facebook_app_id }}">
    <meta property="og:url" content="{{ base_url }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:image" content="{{ thumbnail_url }}">
    <meta property="og:image:alt" content="{{ description }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:site_name" content="{{ title }}">
    <meta property="og:locale" content="en_US">
    <meta property="article:author" content="{{ author }}">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{ twitter_site_account }}">
    <meta name="twitter:creator" content="@individual_account">
    <meta name="twitter:url" content="{{ base_url }}">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image" content="{{ thumbnail_url }}">
    <meta name="twitter:image:alt" content="{{ description }}">

    <meta name="generator" content="{{ generator }}">
    <meta name="subject" content="{{ subject }}">
    <meta name="rating" content="{{ rating }}">
    <meta name="referrer" content="no-referrer">
    <meta name="format-detection" content="telephone=no">

    <link rel="canonical" href="{{ base_url }}">

    <meta http-equiv="x-dns-prefetch-control" content="on">

    <title>{{ title }}</title>
    <!-- <base href="{{ base_url }}"> -->

    <link rel="icon" type="image/png" sizes="192x192" href="assets/favicon.png">
    <link rel="apple-touch-icon" href="assets/apple-touch-icon.png">
    <link rel="mask-icon" href="assets/favicon.svg" color="blue">

    <link rel="stylesheet" href="root.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section class="basic-grid">
        <div class="card">Banana 🍌</div>
        <div class="card">Pineapple 🍍</div>
        <div class="card">Watermelon 🍉</div>
        <div class="card">Orange 🍊</div>
        <div class="card">Melon 🍈</div>
        <div class="card">Lemon 🍋</div>
        <div class="card">Mango 🥭</div>
        <div class="card">Cherry 🍒</div>
        <div class="card">Peach 🍑</div>
    </section>
</body>
</html>